/* Tailwind v4 */
@import "tailwindcss";

@theme {
  /* Colors */
  --color-Grey-500: #4d4f62;
  --color-Grey-400: #6a7178;
  --color-White: #ffffff;
  --color-Red: #ea5454;
  --color-Cyan: #44d3d2;
  --color-Blue: #549ef2;
  --color-Orange: #fcae4a;

  /* Break points */
  --breakpoint-md: 48rem;
  --breakpoint-sm: 28.125rem;
  --breakpoint-lg: 90rem;

  /* Text */
  --default-font-family: "Poppins";

  /* Text-preset-1 */
  --text-Preset-1: 2.25rem;
  --leading-Preset-1: 140%;
  --tracking-Preset-1: -0.015625rem;
  --font-weight-Preset-1: 600;

  /* Text-preset-2 */
  --text-Preset-2: 2.25rem;
  --leading-Preset-2: 140%;
  --tracking-Preset-2: -0.015625rem;
  --font-Preset-2: 200;
  /* Text-preset-3 */
  --text-Preset-3: 1.25rem;
  --leading-Preset-3: 135%;
  --tracking-Preset-3: 0rem;
  --font-weight-Preset-3: 600;
  /* Text-preset-4 */
  --text-Preset-4: 0.9375rem;
  --leading-Preset-4: 140%;
  --tracking-Preset-4: 0rem;
  --font-weight-Preset-4: 400;
  /* Text-preset-5 */
  --text-Preset-5: 0.8125rem;
  --leading-Preset-5: 160%;
  --tracking-Preset-5: 0rem;
  --font-weight-Preset-5: 400;
  /* Spacing */
  --spacing-Spacing-100: 0.5rem;
  --spacing-Spacing-200: 1rem;
  --spacing-Spacing-300: 1.5rem;
  --spacing-Spacing-400: 2rem;
  --spacing-Spacing-500: 2.5rem;

  /* Mobile Text */
  /* Text-preset-4-Mobile */
  --text-Preset-4-Mobile: 0.9375rem;
  --leading-Preset-4-Mobile: 140%;
  --tracking-Preset-4-Mobile: 0rem;
  --font-weight-Preset-4-Mobile: 400;

  /* Text-preset-1-Mobile */
  --text-Preset-1-Mobile: 1.5rem;
  --leading-Preset-1-Mobile: 140%;
  --tracking-Preset-1-Mobile: 0rem;
  --font-weight-Preset-1-Mobile: 400;

  /* Text-preset-2-Mobile */
  --text-Preset-2-Mobile: 1.5rem;
  --leading-Preset-2-Mobile: 140%;
  --tracking-Preset-2-Mobile: 0rem;
  --font-weight-Preset-2-Mobile: 400;
}

@layer components {
  .Preset-1 {
    font-size: var(--text-Preset-1);
    letter-spacing: var(--tracking-Preset-1);
    font-weight: var(--font-weight-Preset-1);
    line-height: var(--leading-Preset-1);
  }
  .Preset-1-Mobile {
    font-size: var(--text-Preset-1-Mobile);
    letter-spacing: var(--tracking-Preset-1-Mobile);
    font-weight: var(--font-weight-Preset-1-Mobile);
    line-height: var(--leading-Preset-1-Mobile);
  }

  .Preset-2 {
    font-size: var(--text-Preset-2);
    letter-spacing: var(--tracking-Preset-2);
    font-weight: var(--font-weight-Preset-2);
    line-height: var(--leading-Preset-2);
  }
  .Preset-2-Mobile {
    font-size: var(--text-Preset-2-Mobile);
    letter-spacing: var(--tracking-Preset-2-Mobile);
    font-weight: var(--font-weight-Preset-2-Mobile);
    line-height: var(--leading-Preset-2-Mobile);
  }
  .Preset-3 {
    font-size: var(--text-Preset-3);
    letter-spacing: var(--tracking-Preset-3);
    font-weight: var(--font-weight-Preset-3);
    line-height: var(--leading-Preset-3);
  }
  .Preset-4 {
    font-size: var(--text-Preset-4);
    letter-spacing: var(--tracking-Preset-4);
    font-weight: var(--font-weight-Preset-4);
    line-height: var(--leading-Preset-4);
  }
  .Preset-4-Mobile {
    font-size: var(--text-Preset-4-Mobile);
    letter-spacing: var(--tracking-Preset-4-Mobile);
    font-weight: var(--font-weight-Preset-4-Mobile);
    line-height: var(--leading-Preset-4-Mobile);
  }
  .Preset-5 {
    font-size: var(--text-Preset-5);
    letter-spacing: var(--tracking-Preset-5);
    font-weight: var(--font-weight-Preset-5);
    line-height: var(--leading-Preset-5);
  }
}

@layer components {
  body {
    overflow-x: hidden;
  }
  .Main-Grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, min-content);
    margin: 0 auto;
    /* gap: var(--spacing-Spacing-400); */
  }

  .Card-specs {
    width: 19.8125rem;
    height: 15.625rem;
    box-shadow: 0 0.75rem 0.875rem rgba(0, 0, 0, 0.1);
    /* margin-top: 20.875rem; */
    padding: var(--spacing-Spacing-400);
  }

  .top-color {
    border-top: 0.25rem solid;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .background {
    max-width: 19.625rem;
    height: 87.8125rem;
    margin: 0 auto;
    /* background-color: red; */
  }

  .Header-1 {
    font-size: var(--text-Preset-2);
    letter-spacing: var(--tracking-Preset-2);
    font-weight: var(--font-weight-Preset-2);
    line-height: var(--leading-Preset-2);
  }
  .Header-2 {
    font-size: var(--text-Preset-1);
    letter-spacing: var(--tracking-Preset-1);
    font-weight: var(--font-weight-Preset-1);
    line-height: var(--leading-Preset-1);
  }
}

@media (min-width: 48rem) {
  .Card-specs {
    width: 21.875rem;
    height: 15.625rem;
    box-shadow: 0 0.75rem 0.875rem rgba(0, 0, 0, 0.1);
    /* margin-top: 20.875rem; */
    padding: var(--spacing-Spacing-500);
  }
}

@media (max-width: 28.125rem) {
  .Header-1 {
    font-size: var(--text-Preset-2-Mobile);
    letter-spacing: var(--tracking-Preset-2-Mobile);
    font-weight: var(--font-weight-Preset-2-Mobile);
    line-height: var(--leading-Preset-2-Mobile);
  }
  .Header-2 {
    font-size: var(--text-Preset-1-Mobile);
    letter-spacing: var(--tracking-Preset-1-Mobile);
    font-weight: var(--font-weight-Preset-1-Mobile);
    line-height: var(--leading-Preset-1-Mobile);
  }
}
