/* Tailwind v4 */
@import "tailwindcss";

@theme {
  /* Colors */
  --color-Grey-500: #4d4f62;
  --color-Grey-400: #6a7178;
  --color-White: #ffffff;
  --color-Red: #ea5454;
  --color-Cyan: #44d3d2;
  --color-Blue: #549ef2;
  --color-Orange: #fcae4a;

  /* Break points */
  --breakpoint-md: 768px;
  --breakpoint-sm: 450px;
  --breakpoint-lg: 1440px;

  /* Text */
  --default-font-family: "Poppins";

  /* Text-preset-1 */
  --text-Preset-1: 36px;
  --leading-Preset-1: 140%;
  --tracking-Preset-1: -0.25px;
  --font-weight-Preset-1: 600;

  /* Text-preset-2 */
  --text-Preset-2: 36px;
  --leading-Preset-2: 140%;
  --tracking-Preset-2: -0.25px;
  --font-Preset-2: 200;
  /* Text-preset-3 */
  --text-Preset-3: 20px;
  --leading-Preset-3: 135%;
  --tracking-Preset-3: 0px;
  --font-weight-Preset-3: 600;
  /* Text-preset-4 */
  --text-Preset-4: 15px;
  --leading-Preset-4: 140%;
  --tracking-Preset-4: 0px;
  --font-weight-Preset-4: 400;
  /* Text-preset-5 */
  --text-Preset-5: 13px;
  --leading-Preset-5: 160%;
  --tracking-Preset-5: 0px;
  --font-weight-Preset-5: 400;
  /* Spacing */
  --spacing-Spacing-100: 8px;
  --spacing-Spacing-200: 16px;
  --spacing-Spacing-300: 24px;
  --spacing-Spacing-400: 32px;
  --spacing-Spacing-500: 40px;

  /* Mobile Text */
  /* Text-preset-4-Mobile */
  --text-Preset-4-Mobile: 15px;
  --leading-Preset-4-Mobile: 140%;
  --tracking-Preset-4-Mobile: 0px;
  --font-weight-Preset-4-Mobile: 400;

  /* Text-preset-1-Mobile */
  --text-Preset-1-Mobile: 24px;
  --leading-Preset-1-Mobile: 140%;
  --tracking-Preset-1-Mobile: 0px;
  --font-weight-Preset-1-Mobile: 400;

  /* Text-preset-2-Mobile */
  --text-Preset-2-Mobile: 24px;
  --leading-Preset-2-Mobile: 140%;
  --tracking-Preset-2-Mobile: 0px;
  --font-weight-Preset-2-Mobile: 400;
}

@layer components {
  .Preset-1 {
    font-size: var(--text-Preset-1);
    letter-spacing: var(--tracking-Preset-1);
    font-weight: var(--font-weight-Preset-1);
    line-height: var(--leading-Preset-1);
  }
  .Preset-1-Mobile {
    font-size: var(--text-Preset-1-Mobile);
    letter-spacing: var(--tracking-Preset-1-Mobile);
    font-weight: var(--font-weight-Preset-1-Mobile);
    line-height: var(--leading-Preset-1-Mobile);
  }

  .Preset-2 {
    font-size: var(--text-Preset-2);
    letter-spacing: var(--tracking-Preset-2);
    font-weight: var(--font-weight-Preset-2);
    line-height: var(--leading-Preset-2);
  }
  .Preset-2-Mobile {
    font-size: var(--text-Preset-2-Mobile);
    letter-spacing: var(--tracking-Preset-2-Mobile);
    font-weight: var(--font-weight-Preset-2-Mobile);
    line-height: var(--leading-Preset-2-Mobile);
  }
  .Preset-3 {
    font-size: var(--text-Preset-3);
    letter-spacing: var(--tracking-Preset-3);
    font-weight: var(--font-weight-Preset-3);
    line-height: var(--leading-Preset-3);
  }
  .Preset-4 {
    font-size: var(--text-Preset-4);
    letter-spacing: var(--tracking-Preset-4);
    font-weight: var(--font-weight-Preset-4);
    line-height: var(--leading-Preset-4);
  }
  .Preset-4-Mobile {
    font-size: var(--text-Preset-4-Mobile);
    letter-spacing: var(--tracking-Preset-4-Mobile);
    font-weight: var(--font-weight-Preset-4-Mobile);
    line-height: var(--leading-Preset-4-Mobile);
  }
  .Preset-5 {
    font-size: var(--text-Preset-5);
    letter-spacing: var(--tracking-Preset-5);
    font-weight: var(--font-weight-Preset-5);
    line-height: var(--leading-Preset-5);
  }
}

@layer components {
  body {
    overflow-x: hidden;
  }
  .Main-Grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, min-content);
    margin: 0 auto;
    /* gap: var(--spacing-Spacing-400); */
  }

  .Card-specs {
    width: 350px;
    height: 250px;
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.1);
    /* margin-top: 334px; */
    padding: var(--spacing-Spacing-400);
  }

  .top-color {
    border-top: 4px solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .background {
    max-width: 314px;
    height: 1405px;
    margin: 0 auto;
    /* background-color: red; */
  }
}

@media (min-width: 768px) {
  .Card-specs {
    width: 317px;
    height: 250px;
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.1);
    /* margin-top: 334px; */
    padding: var(--spacing-Spacing-400);
  }
}
